name: Fetch quarterly prices

on:
  schedule:
    # every Saturday at 02:04 UTC
    - cron: "4 2 * * 6"
  workflow_dispatch: {}

permissions:
  actions: write
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install deps
        run: |
          python -m pip install requests
      - name: Run updater
        run: python fetch_prices.py
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A
          git diff --cached --quiet && echo "No changes to commit." && exit 0

          git commit -m "Fresh prices data"
          git push

  keep-scheduled-workflow-activity:
    runs-on: ubuntu-latest
    steps:
      - name: Keep scheduled workflow activity
        uses: WaterLemons2k/scheduled-workflow-activity-action@v2
        env:
          GH_TOKEN: ${{ github.token }}
